<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='media/apple-touch-icon.png') }}" />
    <title>crate digger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <script defer="defer" src="{{ url_for('static', filename='js/main.d0512808.js') }}"></script>
    <link href="{{ url_for('static', filename='css/main.c277e745.css') }}" rel="stylesheet">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>